@charset "UTF-8";

.pagination {
  display: flex !important;
  /* 横並びにする */
  justify-content: center;
  /* 中央揃え */
  list-style: none;
  /* デフォルトのリストスタイルを削除 */
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  /* ボタンの間隔を調整 */
}

.pagination .page-link {
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}