body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0DFDE;
  font-family: 'Inika', sans-serif;
}

.header__inner {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
  width: 100%;
  text-align: center;
}

.header__logo-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: #8B7969;
}

main {
  background-color: #F1ECE7;
}